1-Solo_Competition/data.zip
1-Solo_Competition/test.csv
1-Solo_Competition/train.csv
2-Team_Competition/1-covid_ct/data
2-Team_Competition/2-highway_traffic/data
2-Team_Competition/3-comment_bias_hate/data